// app global css in SCSS form
.font-langa-vivo {
  font-family: Kufam, sans-serif;
}
.font-langa-vivo-tl {
  font-family: "Playwrite FR Moderne", cursive;
  font-optical-sizing: auto;
  /* font-weight: <weight>;
  font-style: normal; */
}
